.nav{
    text-align: center;
    margin: 20px;
    padding: 0;
}
a{
    text-decoration: none;
}
.nav li{
    display: inline;

}

a{
    padding: 5px;
    border: 1px solid #bbbbbb;
    border-radius: 5px;
    margin: 5px;
}

.child_list{
    padding-top: 25px;
    margin-left: 230px;
}

.error{
    text-align: center;
    color: #ff0000;
    font-size: 48px;
    font-weight: bold;
}