html{
    background-color: mintcream;
}

.app__header img{
    max-width: 30%;
    border-radius: 25%;
}

.app__full-name{
    font-size: 48px;
    color: lightblue;
    padding-top: 1%;
    padding-bottom: 1%;
}

.app__email {
    margin-left: -30%;
    padding-right: 6.7%;
    border-right: 2px solid lightblue;
    text-decoration: none;
    color: aquamarine;
    font-size: 25px;
    padding-top: 1%;
    padding-bottom: 1%;
}

.app__phone{
    margin-left: 50.1%;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 30%;
    border-left: 2px solid lightblue;
    text-decoration: none;
    color: aquamarine;
    font-size: 25px;
    margin-top: -0.1%;
    margin-bottom: 0;
}

.app__location, .app__education{
    margin-left: 17%;
    padding-bottom: 1%;
    width: 30%;
    padding-right: 3.07%;
    border-right: 2px solid lightblue;
    text-decoration: none;
    color: aquamarine;
    font-size: 25px;
    margin-top: -0.1%;
    margin-bottom: 0;
}

.app__skills, .app__language{
    margin-top: 0;
    margin-bottom: 0;
}

.app__skills-list:nth-child(1), .app__skills-list:nth-child(3), .app__skills-list:nth-child(5), .app__skills-list:nth-child(7), .app__language-list:nth-child(1){
    list-style: none;
    margin-left: 48.7%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 12%;
    width: 30%;
    border-left: 2px solid lightblue;
    text-decoration: none;
    color: aquamarine;
    font-size: 25px;
    margin-top: -0.1%;
    margin-bottom: 0;
}

.app__skills-list:nth-child(2), .app__skills-list:nth-child(4), .app__skills-list:nth-child(6), .app__language-list:nth-child(2){
    list-style: none;
    margin-left: 15.6%;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 30%;
    padding-right: 3.07%;
    border-right: 2px solid lightblue;
    text-decoration: none;
    color: aquamarine;
    font-size: 25px;
    margin-top: -0.1%;
    margin-bottom: 0;
}

.app__language{
    padding-left: 2.7%;
    border-bottom: 2px solid lightblue;

}

