body{
  text-align: center;
}

.users{
  margin-top: -170px;
}

button{
  display: block;
  padding: 0 10px;
  width: 40px;
}

.users_name{
  margin: 10px;
}

.avatar_image{
  max-width: 25px;
  max-height: 25px;
  margin-top: 10px;
}